<html>
<head>
  <title>Music Genre Selector</title>
  <link rel="stylesheet" type="text/css" href="{{ css_path }}">
</head>
<body>
    <h1>Music Genre Selector</h1>
  
    <form action="/play" method="post">
      <div class="scrollable-list">
        <input type="checkbox" id="rock" name="genre" value="rock">
        <label for="rock">Rock</label><br>
  
        <input type="checkbox" id="pop" name="genre" value="pop">
        <label for="pop">Pop</label><br>
  
        <input type="checkbox" id="jazz" name="genre" value="jazz">
        <label for="jazz">Jazz</label><br>
  
        <input type="checkbox" id="hip-hop" name="genre" value="hip-hop">
        <label for="hip-hop">Hip Hop</label><br>
  
        <input type="checkbox" id="electronic" name="genre" value="electronic">
        <label for="electronic">Electronic</label><br>
  
        <input type="checkbox" id="classical" name="genre" value="classical">
        <label for="classical">Classical</label><br>
  
        <input type="checkbox" id="country" name="genre" value="country">
        <label for="country">Country</label><br>
      </div>
  
      <br>
  
      <input type="submit" value="Play!">
    </form>
</body>
</html>